<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
		id          = "myfirstapp"
        version     = "1.0.0" >

    <name>Moja aplikacja!</name>
    <description>I`m trying to be developer</description>
    <author href="s188388@wizard.uek.krakow.pl" email="kamil2000-12@o2.pl">
	sandalyjudasza
	</author>
	
	<plugin name="cordova-plugin-device" spec="2.0.1" />
	<plugin name="cordova-plugin-dialogs" spec="2.0.1" />
	<plugin name="cordova-plugin-splashscreen" spec="5.0.2" />


	<platform name="android">
    <!-- you can use any density that exists in the Android project -->
    <splash src="res/screen/android/splash-land-splash.png" density="land-splash"/>

 


 
<preference name="SplashScreenDelay" value="10000" />




</widget>
